name: Java Build Workflow with Docker

on:
 # pull_request:
 # branches:
 #  - main

 workflow_dispatch:
  inputs:
   app:
    description: 'Choose python,node.js or java'
    default: Java
    required: true
    type: choice
    options:
    - Java
    - python
    - node.js
    
 push:
  branches:
  - main

jobs:
 Build:
  runs-on: ubuntu-latest
  steps:
  - name: Checkout code
    uses: actions/checkout@v4

  - name: setup Java
    uses: actions/setup-java@v4
    with:
     java-version: '17'
     distribution: temurin
     cache: maven

  - name: setup node js
    if: inputs.app == 'node.js'
    uses: actions/setup-node@v4
    with:
     node-version: 18

  - name: Install depdendencies
    if: inputs.app == 'node.js'
    run: npm install

  - name: run tests
    if: inputs.app == 'node.js'
    run: npm test

  - name: Run Build process
    if: inputs.app == 'node.js'
    run: npm run build

  - name: Build with Maven
    if: inputs.app == 'Java'
    run: mvn clean install -DskipTests

  - name: build docker image
    run: docker build -t demo-app:${{github.sha}} .

  - name: upload an artifact
    uses: actions/upload-artifact@v4
    with:
      name: javaapp
      path: staging
      retention: 1
     
  
 
