name: Java Build Workflow with Docker

on:
  workflow_dispatch:
    inputs:
      app:
        description: 'Choose node.js, python or Java'
        required: true
        type: choice
        default: Java
        options:
          - Java
          - python
          - node.js

  # push:
  #   branches:
  #     - main

jobs:
  Build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: setup Java
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.app == 'Java' && github.ref_name == 'main' }}
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: temurin
          cache: maven

      - name: setup node js
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.app == 'node.js' && github.ref_name == 'main'}}
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install dependencies,Test,Build (node)
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.app == 'node.js' && github.ref_name == 'main' }}
        run: | 
         ## Install dependencies
         npm install
         ## Run tests
         npm test
         ## run build
         npm run build
         ls- lrt

      - name: Build with Maven
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.app == 'Java' && github.ref_name == 'main' }}
        run: mvn clean install -DskipTests

      - name: Build Docker image (node)
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.app == 'node.js' && github.ref_name == 'main' }}
        run: |
         docker build --target runtime-node -t demo-app-node:${{ github.sha }} .

      - name: Build Docker image (java)
        if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.app == 'Java' && github.ref_name == 'main' }}
        run: |
         docker build --target runtime-java -t demo-app-java:${{ github.sha }} .

      - name: upload an artifact
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: actions/upload-artifact@v4
        with:
          name: myapp
          path: staging
          retention: 1

      - name: download an artifact
        if: ${{ github.event_name == 'workflow_dispatch' }}
        uses: actions/download-artifact@v4
        with:
         name: myapp
         path: staging
         retention: 1

